.team {
    background-color: #F5F4FA;
    text-align: center;
    align-items: center;
    padding-bottom: 94px;
    padding-top: 94px;
   }


  .team-list__item {
      display: inline-block;
      padding-bottom: 30px;
      flex-basis: calc((100% - 90px) / 4);
      max-height: 428px;
      margin-right: 30px;
      background-color: #fff;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      &:nth-child(4n)  {
            margin-right: 0;
    }
  } 


.team__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    text-align: center;
    margin-bottom: 50px;
}

.team-list__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
}


.team-icon__link {

    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    background-color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #fff;
        background-color: var(--secondary-text-color);
    }
}

.team-icon__svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.team-icon__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
} 

.team-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    padding-top: 16px;
}

    .team-list__img {
        margin-bottom: 30px;
}

.team-list__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
