.footer {
    position: relative;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
         
}

.footer__box {
  display: flex;

}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    display: flex;
    margin-bottom: 30px;
    
}

.footer__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: white;
    margin-bottom: 9px;
}




.footer-list__item {
margin-bottom: 9px;

}


.footer-icon-color {
    background: rgba(255, 255, 255, 0.1);
        &:hover,
        &:focus {
        background-color: var(--secondary-text-color);
    }
}



.footer-icon-box {
    display: inline-block;
    padding-top: 12px;
    margin-left: 70px;
   

}

.footer-icon-title {
 display: inline-block;
color: #fff;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-color {
    color: var(--secondary-text-color);
}
.footer-list__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
        &:hover, &:focus {
            color: var(--secondary-text-color);
        }   

}


.footer-subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
    text-align: left;
}


.footer-input-box {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: start;
}

.footer-subscribe {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-input-box input {
    padding-left: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 358px;
    height: 50px;
    text-align: start;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
}



.footer-subscribe__button {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;

}

.follow-icon {
    background-image: url(../images/svg/icon-send.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-size: contain;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
}