.hero {
    background-color: #2F303A;
    padding-top: 200px;  
    padding-bottom: 200px;
    text-align: center; 
    background-image: linear-gradient( 
        to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/header-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    
}

.hero__item {
    margin: 0 auto;
    align-items: center;
  
}
.hero__button {
    display: inline-block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--secondary-text-color);
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 32px;
    text-decoration: none;
    border: 1px solid transparent;

        &:hover,
        &:focus {
            background-color: #188ce8;
            color: #fff;
    }

}   
