body{
    color: #212121;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.container {
    width: 1230px; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   
  
}
.button-cursor {
    cursor: pointer;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}