.dignity {
    padding-top: 94px;
    padding-bottom: 47px; 
}

       
    

.dignity-list {
    display: flex;
    
}

.dignity-list__item {
    width: 270px;
    height: 251px;
    margin-right: 30px;
        &:not(:last-chield) {
            margin-right: 30px;
        } 
      
}

.dignity-list__box {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
       
    }

    .dignity-list__icon {
       width: 70px;
       height: 70px; 
      
       
    }

.dignity-list__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 10px;
    
}
.dignity-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    display: flex;
}
